@{
    Layout = "_Layout";
}
<style>
    button.btn-danger:after {
        content: ' \274C';
    }

    button.btn-info:after {
        content: ' \270E';
    }

    /*   input.btn-info:[target] {
            content: ' \270E';
        }
    */
    button.btn-secondary:after {
        content: ' \2796';
    }

    a.btn-success:after {
        content: ' \1F50E';
    }

    a.addsign:after {
        content: ' \2795';
    }

    button.addsign:after {
        content: ' \2795';
    }

    /*    a.addsign:after {
            content: ' \271A';
        }*/

    .centercontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <table class="table table-striped border border-dark">
        <thead class="thead-dark">
            @RenderSection("TableHead", required: true)
        </thead>
        <tbody>
            @RenderSection("TableBody", required: true)
        </tbody>
        <caption>
            <div class="row">
                <div class="col-6">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item active">
                                <a href="#" class="page-link addsign" data-toggle="modal" data-target="#addModal"></a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-6">
                    @RenderSection("Pagenation", required: true)
                </div>

            </div>
        </caption>
    </table>
</div>

@RenderBody()
<!-- #region addModal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("AddModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                <input type="submit" class="btn btn-info" form="AddForm" value="&#10004;" />
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region editModal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("EditModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                <input type="submit" class="btn btn-info" form="EditForm" value="&#10004;" />
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region deleteModal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("DeleteModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                <input type="submit" class="btn btn-info" form="DeleteForm" value="&#10004;" />
            </div>
        </div>
    </div>
</div>

<!-- #endregion-->
@section scripts {

    <script type="text/javascript">
        $('button.btn-danger').prop('title', 'Delete');
        $('button.btn-info').prop('title', 'Edit');
        $('input.btn-info').prop('title', 'Save');
        $('button.btn-secondary').prop('title', 'Close');
        $('a.addsign').prop('title', 'Add');

        function RemoveClaim(element, event) {
            event.preventDefault();
            $(element).closest('tr').remove();
        }

        function AppendTableRow(input, element) {
            $.get('@_httpContextAccessor.HttpContext.Request.Path', input, function (data) {
                $(element).append(data);
            });
        }

        function RemoveActive(element) {
            $(element).removeClass("active");
        }

    </script>
    @RenderSection("scripts", required: false)
}