@model PropertRowModel
@{
}
<tr>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>
            <input type="hidden" name="@("dto.Property['" + Model.Property + "'].PropertyValue")" value="@Model.Property" />
            <input type="hidden" name="@("dto.Property['" + Model.PropertyKey + "'].Key")" value="@Model.PropertyKey" />
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.Property
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.PropertyKey
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            <a class="btn btn-success btn-sm" id="nav-propertydetailadd-tab" data-toggle="tab"
               href="#nav-propertydetailadd" role="tab" aria-controls="nav-propertydetailadd" aria-selected="false"
               onclick="@("PopulatePropertyDetail('"+ Model.Property + "','" + Model.PropertyKey + "',this);")">
                &#128270;
            </a>
        </div>
    </td>
</tr>