@page "{id?}"
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.User.InfoModel
@{
    Layout = "_NestedInfoLayout";
}
<partial name="_BaseSettings" model="@Model" />
<collapsable  title="Roles">
    <br />
    <fieldset class="form-group">
        @foreach (var item in Model?.Roles?.Items)
        {
            <div class="form-check">
                <input type="hidden" name="dto.UserRoles.index" value="@item.Id" />
                <input type="checkbox" class="form-check-input" name="dto.UserRoles[@item.Id]" value="@item.Id" @(Model?.Data?.UserRoles?.Any(x => x == item.Id).IsChecked()) />
                <label class="form-check-label">@item.Name</label>
            </div>
        }
    </fieldset>
    <br />
</collapsable>
<partial name="FormSections/_ValueClaimSection" model="@Model?.Data?.Claims" />