@model SecretRowModel
@{
}
<tr>
    <td scope="col">
        <div class="centercontent">
            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>
            <input type="hidden" name="dto.Secrets['@Model.Type'].Value" value="'@Model.Value'" />
            <input type="hidden" name="dto.Secrets['@Model.Type'].Type" value="'@Model.Type'" />
            <input type="hidden" name="dto.Secrets['@Model.Type'].Description" value="'@Model.Description'" />
            <input type="hidden" name="dto.Secrets['@Model.Type'].Expiration" value="'@Model.Expiration.ToString("g")'" />
            <input type="hidden" name="dto.Secrets['@Model.Type'].Created" value="'@Model.Created.ToString("g")'" />
        </div>
    </td>
    <td scope="col"><div class="centercontent"> @Model.Type </div></td>
    <td scope="col"><div class="centercontent"> @Model.Value </div></td>
    <td scope="col">
        
        <div class="centercontent">
            
            <a class="btn btn-success btn-sm" id="nav-secretdetailsadd-tab" data-toggle="tab" 
               href="#nav-secretdetailsadd" role="tab" aria-controls="nav-secretdetailsadd" aria-selected="false" 
               onclick="PopulateSecretDetail('@Model.Type','@Model.Value','@Model.Expiration.ToString("d", CultureInfo.InvariantCulture)','@Model.Expiration.ToString("T", CultureInfo.InvariantCulture)','@Model.Created.ToString("d", CultureInfo.InvariantCulture)','@Model.Created.ToString("T", CultureInfo.InvariantCulture)','@Model.Description',this);">
                
                &#128270;
            </a>
        </div>
    </td>
</tr>