@page "{id}"
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.ApiResources.EditModel
@{
    Layout = "_NestedEditLayout";
}

@section NavTabs{
    @foreach (var item in Model.ResourceProperties)
    {
        <a class="nav-item nav-link" id="@item.Name.ToLower()tab" data-toggle="tab" href="#@item.Name.ToLower()" role="tab">@item.Name</a>
    }
}

@section Basesettings{
    <div class="form-group">
        <label class="col-form-label">Name</label>
        <input type="text" class="form-control" id="name" name="dto.Name">
    </div>
    <div class="form-group">
        <label class="col-form-label">Display name</label>
        <input type="text" class="form-control" id="displayName" name="dto.DisplayName">
    </div>
    <div class="form-group">
        <label class="col-form-label">Description</label>
        <textarea class="form-control" id="description" name="dto.Description"></textarea>
    </div>
    <div class="form-group">
        <label class="col-form-label">Allowed access token signing algorithmes</label>
        <textarea class="form-control" id="allowedAlgorithmes" name="dto.AllowedAccessTokenSigningAlgorithms"></textarea>
    </div>
    <fieldset class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enabled" name="dto.Enabled" value="True" />
            <label class="form-check-label">Is enabled</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="nonEditable" name="dto.NonEditable" value="True" />
            <label class="form-check-label">Is non-editable</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
            <label class="form-check-label">Show in discovery document</label>
        </div>
    </fieldset>
}

@section ResourceProperties{
    @foreach (var item in Model.ResourceProperties)
    {
        <div class="tab-pane fade" id="@item.Name.ToLower()" role="tabpanel">
            <br />
            <table class="table table-striped border border-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        @for (var i = 0; i < item.Columns.Count; i++)
                        {
                            <th scope="col">@item.Columns[i]</th>
                        }
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="@item.Name.ToLower()TableBody">
                    @if (item.Name == "Claims")
                    {
                        foreach (var claim in Model.Data.ApiResourceClaims)
                        {
                            <partial name="_@item.Name" model="claim" />
                        }
                    }
                    else if (item.Name == "Properties")
                    {
                        foreach (var property in Model.Data.ApiResourceProperties)
                        {
                            <partial name="_@item.Name" model="property" />
                        }
                    }
                    else if (item.Name == "Scopes")
                    {
                        foreach (var scope in Model.Data.ApiResourceScopes)
                        {
                            <partial name="_@item.Name" model="scope" />
                        }
                    }
                    else if (item.Name == "Secrets")
                    {
                        foreach (var secret in Model.Data.ApiResourceSecrets)
                        {
                            <partial name="_@item.Name" model="secret" />
                        }
                    }
                </tbody>
                <caption>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item active">
                                <a href="#" class="page-link addsign" data-toggle="modal" data-target="#@item.Name.ToLower()Modal"></a>
                            </li>
                        </ul>
                    </nav>
                </caption>
            </table>
            <partial name="_ResourcePropertyModal" model="item" />
        </div>
    }
}

@section Scripts{
    <script type="text/javascript">
        function SetClaims() {
            var input = {
                handler: 'Claims',
                Id: null,
                Type: $('#claimType').val(),
                ApiResourceId: null
            };
            var element = $('#claimsTableBody');
            AppendTableRow(input, element);
            $('#claimType').val('');
            return false;
        }
        function SetProperties() {
            var input = {
                handler: 'Properties',
                Id: null,
                Value: $('#propertiesValue').val(),
                Key: $('#propertiesKey').val(),
                ApiResourceId: null
            };
            var element = $('#propertiesTableBody');
            AppendTableRow(input, element);
            $('#propertiesValue').val('');
            $('#propertiesKey').val('');
            return false;
        }
        function SetScopes() {
            var input = {
                handler: 'Scopes',
                Id: null,
                Scope: $('#scope').val(),
                ApiResourceId: null
            };
            var element = $('#scopesTableBody');
            AppendTableRow(input, element);
            $('#scope').val('');
            return false;
        }
        function SetSecrets() {
            var input = {
                handler: 'Secrets',
                Id: null,
                Description: $('#secretsDescription').val(),
                Value: $('#secretsValue').val(),
                Expiration: $('#secretsExpiration').val(),
                Type: $('#secretsType').val(),
                ApiResourceId: null
            };
            var element = $('#secretsTableBody');
            AppendTableRow(input, element);
            $('#secretsDescription').val('');
            $('#secretsValue').val('');
            $('#secretsExpiration').val('');
            $('#secretsType').val('');
            return false;
        }
    </script>
}
