@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.ApiResources.IndexModel
@{
    Layout = "_NestedIndexLayout";
}

@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Display name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
}

@section TableBody{
    @foreach (var item in Model.List.Items)
    {
        <tr>
            <td scope="row">
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-info"></a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.DisplayName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <button type="button" class="btn btn-danger float-right"
                        data-toggle="modal" data-target="#deleteModal"
                        onclick="SetDataDeleteModal(@item.Id, '@item.Name')">
                </button>
            </td>
        </tr>
    }
}

@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}
