@page "{id:int?}"
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.ApiResources.EditModel
@{
    Layout = "_NestedInfoLayout";
    var claims = "Claims";
    var properties = "Properties";
    var scopes = "Scopes";
    var secrets = "Secrets";
}

@section NavTabs{
    <a class="nav-item nav-link" id="@claims.ToLower()tab" data-toggle="tab" href="#@claims.ToLower()" role="tab">@claims</a>
    <a class="nav-item nav-link" id="@properties.ToLower()tab" data-toggle="tab" href="#@properties.ToLower()" role="tab">@properties</a>
    <a class="nav-item nav-link" id="@scopes.ToLower()tab" data-toggle="tab" href="#@scopes.ToLower()" role="tab">@scopes</a>
    <a class="nav-item nav-link" id="@secrets.ToLower()tab" data-toggle="tab" href="#@secrets.ToLower()" role="tab">@secrets</a>
}

@section Basesettings{
    <div class="form-group">
        <label class="col-form-label">Name</label>
        <input type="text" class="form-control" id="name" name="dto.Name">
    </div>
    <div class="form-group">
        <label class="col-form-label">Display name</label>
        <input type="text" class="form-control" id="displayName" name="dto.DisplayName">
    </div>
    <div class="form-group">
        <label class="col-form-label">Description</label>
        <textarea class="form-control" id="description" name="dto.Description"></textarea>
    </div>
    <div class="form-group">
        <label class="col-form-label">Allowed access token signing algorithmes</label>
        <textarea class="form-control" id="allowedAlgorithmes" name="dto.AllowedAccessTokenSigningAlgorithms"></textarea>
    </div>
    <fieldset class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enabled" name="dto.Enabled" value="True" />
            <label class="form-check-label">Is enabled</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="nonEditable" name="dto.NonEditable" value="True" />
            <label class="form-check-label">Is non-editable</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
            <label class="form-check-label">Show in discovery document</label>
        </div>
    </fieldset>
}

@section ResourceProperties{
    <div class="tab-pane fade" id="@claims.ToLower()" role="tabpanel">
        <br />
        <table class="table table-striped border border-dark">
            <partial name="_Tableheader" model="@(new List<string> {claims, claims+"TableBody", "Type"})" />
            <tbody id="@(claims + "TableBody")">
                @if (Model?.Data?.ApiResourceClaims != null)
                {
                    foreach (var item in Model.Data.ApiResourceClaims)
                    {
                        <partial name="_@claims" model="item" />
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="@properties.ToLower()" role="tabpanel">
        <br />
        <table class="table table-striped border border-dark">
            <partial name="_Tableheader" model="@(new List<string> {properties, properties+"TableBody", "Value", "Key" })" />
            <tbody id="@(properties + "TableBody")">
                @if (Model?.Data?.ApiResourceProperties != null)
                {
                    foreach (var item in Model.Data.ApiResourceProperties)
                    {
                        <partial name="_@properties" model="item" />
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="@scopes.ToLower()" role="tabpanel">
        <br />
        <table class="table table-striped border border-dark">
            <partial name="_Tableheader" model="@(new List<string> {scopes, scopes+"TableBody", "Scope"})" />
            <tbody id="@(scopes + "TableBody")">
                @if (Model?.Data?.ApiResourceScopes != null)
                {
                    foreach (var item in Model.Data.ApiResourceScopes)
                    {
                        <partial name="_@scopes" model="item" />
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="@secrets.ToLower()" role="tabpanel">
        <br />
        <table class="table table-striped border border-dark">
            <partial name="_Tableheader" model="@(new List<string> {secrets, @secrets+"TableBody",  "Type", "Value", "Description", "Expiration"})" />
            <tbody id="@(secrets + "TableBody")">
                @if (Model?.Data?.ApiResourceSecrets != null)
                {
                    foreach (var item in Model.Data.ApiResourceSecrets)
                    {
                        <partial name="_@secrets" model="item" />
                    }
                }
            </tbody>
        </table>
    </div>
}

@section Scripts{
}
