@model ApiResourceSecretsContract
@{
    var validationResult = _validator.Validate(Model);
    var idx = Guid.NewGuid();
    var disabled = (!Model.IsNull() && validationResult.IsValid) ? "readonly" : string.Empty;
    var disabledClass = (!Model.IsNull() && validationResult.IsValid) ? "border-0 bg-transparent" : string.Empty;
    var disabledBtn = (!Model.IsNull() && validationResult.IsValid) ? "btn-info" : "btn-success";
}
<tr>
    <td>
        <button type="button"
                class="btn btn-block @disabledBtn"
                onclick="ToggleEdit(this, 'Secrets');">
        </button>
        <input type="hidden" name="dto.Secrets.index" value="@idx" />
        <input type="hidden" name="dto.Secrets[@idx].Id" value="@Model?.Id" />
    </td>
    <td>
        <select name="dto.Secrets[@idx].Type" class="form-control @disabledClass" @disabled>
            @foreach (var item in SecretConstants.SecretTypeNames)
            {
                if (item.Key == Model?.Type)
                {
                    <option value="@item.Key" selected>@item.Value</option>
                }
                else
                {
                    <option value="@item.Key">@item.Value</option>
                }
            }
        </select>
        <partial name="_ValidationNotificationPartial" model="@validationResult["Type"]" />
    </td>
    <td>
        <input type="text"
               name="dto.Secrets[@idx].Value"
               value="@Model?.Value"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["Value"]" />
    </td>
    <td>
        <textarea name="dto.Secrets[@idx].Description"
                  class="form-control @disabledClass"
                  rows="1" onfocus="SetRowCount(this, 5);" onblur="SetRowCount(this, 1);"
                  style="resize: none;" @disabled>@Model?.Description</textarea>
        <partial name="_ValidationNotificationPartial" model="@validationResult["Description"]" />
    </td>
    <td>
        <input type="datetime-local"
               name="dto.Secrets[@idx].Expiration"
               value="@Model?.Expiration?.ToString("s")"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["Expiration"]" />
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-block float-right"
                onclick="SetRemoveModal(this, 'dto.Secrets[@idx].Type');"
                data-toggle="modal" data-target="#removeRowModal">
        </button>
    </td>
</tr>