@model ApiResourceSecretsContract
@{
    var idx = Guid.NewGuid().ToString().Replace("-", "");
    var disabled = Model != null ? "disabled" : string.Empty;
    var disabledClass = Model != null ? "border-0 bg-transparent" : string.Empty;
    var disabledBtn = Model != null ? "btn-info" : "btn-success";
}
<tr>
    <td>
        <button type="button"
                class="btn btn-block @disabledBtn"
                onclick="ToggleEdit(this);">
        </button>
        <input type="hidden" name="dto.ApiResourceSecrets.index" value="@idx" />
        <input type="hidden" name="dto.ApiResourceSecrets[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.ApiResourceSecrets[@idx].ApiResourceId" value="@Model?.ApiResourceId" />
    </td>
    <td>
        <input type="text"
               name="dto.ApiResourceSecrets[@idx].Type"
               value="@Model?.Type"
               class="form-control @disabledClass" @disabled />
    </td>
    <td>
        <input type="text"
               name="dto.ApiResourceSecrets[@idx].Value"
               value="@Model?.Value"
               class="form-control @disabledClass" @disabled />
    </td>
    <td>
        <textarea name="dto.ApiResourceSecrets[@idx].Description"
                  class="form-control @disabledClass"
                  rows="1" onfocus="SetRowCount(this, 5);" onblur="SetRowCount(this, 1);"
                  style="resize: none;" @disabled>@Model?.Description</textarea>
    </td>
    <td>
        <input type="datetime-local"
               name="dto.ApiResourceSecrets[@idx].Expiration"
               value="@Model?.Expiration.ToString("s")"
               class="form-control @disabledClass" @disabled />
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-block float-right"
                onclick="SetRemoveModal(this, 'dto.ApiResourceSecrets[@idx].Type');"
                data-toggle="modal" data-target="#removeRowModal">
        </button>
    </td>
</tr>