@model ApiResourceSecretsContract
@{
    var idx = Guid.NewGuid();
}
<tr>
    <td>
        <input type="button" class="btn" />
    </td>
    <td>
        <label class="col-form-label">@Model.Type</label>
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Id" value="@Model.Id" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].ApiResourceId" value="@Model.ApiResourceId" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Type" value="@Model.Type" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Description" value="@Model.Description" />
        <input class="form-control" type="hidden" name="dto.ApiResourceClaims[@idx].Value" value="@Model.Value" />
    </td>
    <td>
        <input type="button" class="btn" />

    </td>
</tr>