@model ApiResourceSecretsContract
@{
    var idx = Guid.NewGuid();
}
<tr>
    <td>
        <input type="button" class="btn" />
    </td>
    <td>
        @Model.Type
        <input type="hidden" name="dto.ApiResourceClaims[@idx].Id" value="@Model.Id" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].ApiResourceId" value="@Model.ApiResourceId" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].Type" value="@Model.Type" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].Description" value="@Model.Description" />
        <input type="hidden" name="dto.ApiResourceClaims[@idx].Value" value="@Model.Value" />
    </td>
    <td>
        @Model.Value
    </td>
    <td>
        @Model.Description
    </td>
    <td>
        @Model.Expiration
    </td>
    <td>
        <input type="button" class="btn" />

    </td>
</tr>