@model RoleClaimsContract
@{
    var validationResult = _validator.Validate(Model);
    var idx = Guid.NewGuid();
    var disabled = (!Model.IsNull() && validationResult.IsValid) ? "readonly" : string.Empty;
    var disabledClass = (!Model.IsNull() && validationResult.IsValid) ? "border-0 bg-transparent" : string.Empty;
    var disabledBtn = (!Model.IsNull() && validationResult.IsValid) ? "btn-info" : "btn-success";
}
<tr>
    <td>
        <button type="button"
                class="btn @disabledBtn btn-block"
                onclick="ToggleEdit(this, 'RoleClaims');"></button>
    </td>
    <td>
        <input type="hidden" name="dto.RoleClaims.index" value="@idx" />
        <input type="hidden" name="dto.RoleClaims[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.RoleClaims[@idx].RoleId" value="@Model?.RoleId" />
        <input type="text"
               name="dto.RoleClaims[@idx].ClainType"
               value="@Model?.ClainType"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["ClainType"]" />
    </td>
    <td>
        <input type="text"
               name="dto.RoleClaims[@idx].ClaimValue"
               value="@Model?.ClaimValue"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["ClaimValue"]" />
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-block float-right"
                onclick="SetRemoveModal(this, 'dto.RoleClaims[@idx].Type');"
                data-toggle="modal" data-target="#removeRowModal">
        </button>
    </td>
</tr>