@model PagenationInfo
@{
    var active = "page-item active";
    var notActive = "page-item";

    var pagesize = "dropdown-item";
    var currentPagesize = "dropdown-item active";

    //TODO: move this to somewhere else
    //var pageSizes = new List<int> { 10, 25, 50, 100 };
    var pageSizes = new List<int> { 1, 2, 3, 4, 10, 25, 50, 100 };
}
<nav class="float-right">
    <ul class="pagination float-right">
        <li class="page-item">
            <div class="dropdown">
                <a href="#" class="page-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.PageSize
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">Select page size</h6>
                    @foreach (var item in pageSizes)
                    {
                        <a class="@(Model.PageSize == item ? currentPagesize : pagesize)" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="@Model.PageConverter(item)" asp-route-pageSize="@item">@item</a>
                    }
                </div>
            </div>
        </li>
        @if (Model.LastPage >= 1)
        {
            <li class="@(Model.IsFirstPage ? active : notActive)">
                <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="0" asp-route-pageSize="@Model.PageSize" tabindex="-1">First</a>
            </li>
            @for (int i = Model.Page - 2; i <= Model.Page + 2; i++)
            {
                if (i > 0 && i < Model.LastPage)
                {
                    <li class="@(Model.Page == i ? active:notActive)">
                        <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize" tabindex="-1">@(i+1)</a>
                    </li>
                }
            }

            <li class="@(Model.IsLastPage ? active : notActive)">
                <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="@Model.LastPage" asp-route-pageSize="@Model.PageSize" tabindex="-1">Last</a>
            </li>
        }
    </ul>
</nav>
