@model PagenationInfo
@{
    var active = "page-item active";
    var notActive = "page-item";
}
<nav class="float-right">
    <ul class="pagination">
        @if (Model.LastPage >= 1)
        {
            <li class="@(Model.IsFirstPage ? active : notActive)">
                <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="0" asp-route-pageSize="@Model.PageSize" tabindex="-1">First</a>
            </li>
            @for (int i = Model.Page - 2; i <= Model.Page + 2; i++)
            {
                if (i > 0 && i < Model.LastPage)
                {
                    <li class="@(Model.Page == i ? active:notActive)">
                        <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize" tabindex="-1">@(i+1)</a>
                    </li>
                }
            }

            <li class="@(Model.IsLastPage ? active : notActive)">
                <a class="page-link" asp-page="@ViewContext.RouteData.Values["Page"]" asp-route-pageNumber="@Model.LastPage" asp-route-pageSize="@Model.PageSize" tabindex="-1">Last</a>
            </li>
        }
    </ul>
</nav>