@model FormPartialDataContainer
@using RazorTestLibrary.Areas.SimpleAdmin.Pages.Roles
@{
    var claimOverview = new TablePartialDataContainer(Model.Resource, Model.IsAddForm, new string[] { "Claim", "ClaimType" });


    var baseSetting = AllModel.Properties.BasicSettings.GetValueContainer(Model.IsAddForm);
    var roleClaims = AllModel.Properties.RoleClaims.GetValueContainer(Model.IsAddForm);
}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <partial name="_NavTabPartial" model="@baseSetting" />
        <partial name="_NavTabPartial" model="@roleClaims" />
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="@baseSetting.NavPaneIdOverview"
         role="tabpanel" aria-labelledby="@baseSetting.NavTabId">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">RoleName</label>
            <input type="text" class="form-control" id="@("RoleName" + Model.FormType)" name="dto.RoleName">
        </div>
    </div>
    <div class="tab-pane fade show" id="@roleClaims.NavPaneIdOverview"
         role="tabpanel" aria-labelledby="@roleClaims.NavTabId">
        <partial name="_ClaimOverviewPartial" model="@claimOverview" />
    </div>
    <div class="tab-pane fade show" id="@roleClaims.NavPaneIdNew"
         role="tabpanel" aria-labelledby="@roleClaims.NavTabId">
        <partial name="_ClaimPartial" model="@(new PropertyPartialDataContainer(Model.Resource, Model.IsAddForm, TabType.New))" />
    </div>
    <div class="tab-pane fade show" id="@roleClaims.NavPaneIdDetail"
         role="tabpanel" aria-labelledby="@roleClaims.NavTabId">
        <partial name="_ClaimPartial" model="@(new PropertyPartialDataContainer(Model.Resource, Model.IsAddForm, TabType.Detail))" />
    </div>
</div>
@if (!Model.IsAddForm)
{
    <input type="hidden" id="@("Id"+Model.FormType)" name="dto.Id" />
    <input type="hidden" id="@("ConcurrencyStamp"+Model.FormType)" name="dto.ConcurrencyStamp" />
}