@page "{handler?}"
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.Roles.AllModel
@{
    Layout = "_NestedLayout";
}

<div class="container">
    <table class="table table-striped border border-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Role</th>
                <th scope="col">Normalized</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model?.List?.Items)
            {
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#editModal"
                                data-rolename="@item?.RoleName" data-roleid="@item?.Id" data-roleConcurrency="@item?.ConcurrencyStamp">
                            Edit
                        </button>
                    </th>
                    <td>@item?.RoleName</td>
                    <td>@item?.NormalizedName</td>
                    <td>
                        <button type="button" class="btn btn-danger float-right"
                                data-toggle="modal" data-target="#deleteModal"
                                data-rolename="@item?.RoleName" data-roleid="@item?.Id" data-roleconcurrency="@item?.ConcurrencyStamp">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        <caption>
            <div class="row">
                <div class="col-6">
                    <ul class="nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add role</button>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
                </div>
            </div>
        </caption>
    </table>
</div>



@section AddModalBody{
    <form id="AddForm" method="post" asp-page-handler="Add">
        @*Is there no tag helper for adding a anti forgery token? *@
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Rolename add</label>
            <input type="text" class="form-control" id="addRoleName" name="roleName">
        </div>
        <input type="hidden" id="page" name="page" value="@Model.List.Page" />
        <input type="hidden" id="pageSize" name="pageSize" value="@Model.List.PageSize" />
    </form>
}

@section EditModalBody{
    <form id="EditForm" method="post" asp-page-handler="Edit">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">RoleName edit</label>
            <input type="text" class="form-control" id="editRoleName" name="dto.RoleName">
        </div>
        <input type="hidden" id="editId" name="dto.Id" />
        <input type="hidden" id="editConcurrencyStamp" name="dto.ConcurrencyStamp" />
        <input type="hidden" id="page" name="page" value="@Model.List.Page" />
        <input type="hidden" id="pageSize" name="pageSize" value="@Model.List.PageSize" />
    </form>
}

@section DeleteModalBody{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete the <span id="deleteRoleName"></span> role?
    </div>
    <form id="DeleteForm" method="post" asp-page-handler="Delete">
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteId" name="dto.Id" />
        <input type="hidden" id="deleteConcurrencyStamp" name="dto.ConcurrencyStamp" />
        <input type="hidden" id="page" name="page" value="@Model.List.Page" />
        <input type="hidden" id="pageSize" name="pageSize" value="@Model.List.PageSize" />
    </form>
}

@section Scripts{
    <script type="text/javascript">
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-body #editRoleName').val(button.data('rolename'));
            modal.find('.modal-body #editId').val(button.data('roleid'));
            modal.find('.modal-body #editConcurrencyStamp').val(button.data('roleconcurrency'));
        });
    </script>
    <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-body #deleteRoleName').text(button.data('rolename'));
            modal.find('.modal-body #deleteId').val(button.data('roleid'));
            modal.find('.modal-body #deleteConcurrencyStamp').val(button.data('roleconcurrency'));
        });
    </script>
}
