@page
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.Roles.AllModel
@{
}

<div class="container">
    <table class="table table-striped border border-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Role</th>
                <th scope="col">Normalized</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles.Items)
            {
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#editModal"
                                data-rolename="@item.RoleName" data-roleid="@item.Id" data-roleConcurrency="@item.ConcurrencyStamp"
                                data-form="edit">
                            Edit
                        </button>
                    </th>
                    <td>@item.RoleName</td>
                    <td>@item.NormalizedName</td>
                    <td>
                        <form id="DeleteForm" method="delete">
                            <input type="hidden" id="dto.Id" value="@item.Id" />
                            <input type="hidden" id="dto.ConcurrencyStamp" value="@item.ConcurrencyStamp" />
                            <input type="hidden" id="page" value="@Model.Roles.Page" />
                            <input type="hidden" id="pageSize" value="@Model.Roles.PageSize" />
                            <button type="button" class="btn btn-danger float-right">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <caption>
            <div class="row">
                <div class="col-6">
                    <ul class="nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" data-form="add">Add role</button>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <nav class="float-right">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </caption>
    </table>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="EditForm" method="put">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">RoleName edit</label>
                        <input type="text" class="form-control" id="roleName">
                    </div>
                    <input type="hidden" id="roleId" />
                </form>
                <form id="AddForm" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Rolename add</label>
                        <input type="text" class="form-control" id="roleName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info">Send message</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);

            if (button.data('form') == 'edit') {
                modal.find('.modal-body #EditForm').show();
                modal.find('.modal-body #AddForm').hide();
                modal.find('.modal-body #roleName').val(button.data('rolename'));
                modal.find('.modal-body #roleId').val(button.data('roleid'));
            } else if (button.data('form') == 'add') {
                modal.find('.modal-body #EditForm').hide();
                modal.find('.modal-body #AddForm').show();
            }
        });
    </script>
}
