@page "{handler?}"
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.Roles.AllModel
@{
    Layout = "_NestedLayout";
}


@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Role</th>
        <th scope="col">Normalized</th>
        <th scope="col"></th>
    </tr>
}

@section TableBody{
    @foreach (var item in Model?.List?.Items)
    {
        <tr>
            <td scope="row">
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#editModal"
                        data-rolename="@item?.RoleName" data-roleid="@item?.Id" data-roleConcurrency="@item?.ConcurrencyStamp">
                    Edit
                </button>
            </td>
            <td>@item?.RoleName</td>
            <td>@item?.NormalizedName</td>
            <td>
                <button type="button" class="btn btn-danger float-right"
                        data-toggle="modal" data-target="#deleteModal"
                        data-rolename="@item?.RoleName" data-roleid="@item?.Id" data-roleconcurrency="@item?.ConcurrencyStamp">
                    Delete
                </button>
            </td>
        </tr>
    }
}

@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}

@section AddModalBody{
    <form id="AddForm" method="post" asp-page-handler="Add" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @*Is there no tag helper for adding a anti forgery token? *@
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Rolename</label>
            <input type="text" class="form-control" id="addRoleName" name="roleName">
        </div>
    </form>
}

@section EditModalBody{
    <form id="EditForm" method="post" asp-page-handler="Edit" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">RoleName</label>
            <input type="text" class="form-control" id="editRoleName" name="dto.RoleName">
        </div>
        <input type="hidden" id="editId" name="dto.Id" />
        <input type="hidden" id="editConcurrencyStamp" name="dto.ConcurrencyStamp" />
    </form>
}

@section DeleteModalBody{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete the <span id="deleteRoleName"></span> role?
    </div>
    <form id="DeleteForm" method="post" asp-page-handler="Delete" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteId" name="dto.Id" />
        <input type="hidden" id="deleteConcurrencyStamp" name="dto.ConcurrencyStamp" />
    </form>
}

@section Scripts{
    <script type="text/javascript">
        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-body #editRoleName').val(button.data('rolename'));
            modal.find('.modal-body #editId').val(button.data('roleid'));
            modal.find('.modal-body #editConcurrencyStamp').val(button.data('roleconcurrency'));
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-body #deleteRoleName').text(button.data('rolename'));
            modal.find('.modal-body #deleteId').val(button.data('roleid'));
            modal.find('.modal-body #deleteConcurrencyStamp').val(button.data('roleconcurrency'));
        });
    </script>
}
