@page
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.Roles.AllModel
@{
}

<table class="table table-striped ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Normalized Role</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles.Items)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td >@item.RoleName</td>
                <td>@item.NormalizedName</td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-1">
            1 of 3
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col-1">
            3 of 3
        </div>
    </div>
    @foreach (var item in Model.Roles.Items)
    {
        <div class="row">
            <div class="col-1">
                
            </div>
            <div class="col-5">
                @item.RoleName
            </div>
            <div class="col-5">
                @item.NormalizedName
            </div>
            <div class="col-1">
                
            </div>
        </div>
    }
</div>



@foreach (var item in Model.Roles.Items)
{
    <div>
        <label asp-for="@item.RoleName"></label>
        <input asp-for="@item.RoleName" value="@item.RoleName" />
    </div>
}