@model ApiScopePropertiesContract
@{
    var validationResult = _validator.Validate(Model);
    var idx = Guid.NewGuid();
    var disabled = (!Model.IsNull() && validationResult.IsValid) ? "readonly" : string.Empty;
    var disabledClass = (!Model.IsNull() && validationResult.IsValid) ? "border-0 bg-transparent" : string.Empty;
    var disabledBtn = (!Model.IsNull() && validationResult.IsValid) ? "btn-info" : "btn-success";
}
<tr>
    <td>
        <button type="button"
                class="btn @disabledBtn btn-block"
                onclick="ToggleEdit(this, 'Properties');">
        </button>
    </td>
    <td>
        <input type="hidden" name="dto.Properties.index" value="@idx" />
        <input type="hidden" name="dto.Properties[@idx].Id" value="@Model?.Id" />
        <input type="hidden" name="dto.Properties[@idx].ApiScopeId" value="@Model?.ApiScopeId" />
        <input type="text"
               name="dto.Properties[@idx].Value"
               value="@Model?.Value"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["Value"]" />
    </td>
    <td>
        <input type="text"
               name="dto.Properties[@idx].Key"
               value="@Model?.Key"
               class="form-control @disabledClass" @disabled />
        <partial name="_ValidationNotificationPartial" model="@validationResult["Key"]" />
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-block float-right"
                onclick="SetRemoveModal(this, 'dto.Properties[@idx].Value');"
                data-toggle="modal" data-target="#removeRowModal">
        </button>
    </td>
</tr>