@{
    Layout = "_Layout";
}

<partial name="_SharedStyling" />
<div class="container">
    <table class="table table-striped border border-dark">
        <thead class="thead-dark">
            @RenderSection("TableHead", required: true)
        </thead>
        <tbody>
            @RenderSection("TableBody", required: true)
        </tbody>
        <caption>
            <div class="row">
                <div class="col-6">
                    <a asp-page="info" class="btn btn-primary"></a>
                </div>
                <div class="col-6">
                    @RenderSection("Pagenation", required: true)
                </div>
            </div>
        </caption>
    </table>
    <div class="form-group">
        <a href="/simpleadmin" class="btn btn-outline-warning form-control"></a>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Are you sure you want to delete <span id="deleteNameSpan"></span> ?
                </div>
                <form id="DeleteForm" method="post" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteId" name="id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                <button type="submit" class="btn btn-success" form="DeleteForm"></button>
            </div>
        </div>
    </div>
</div>
<partial name="_SharedScripts" />