@{
    Layout = "_Layout";
}
<div class="container">
    <form id="form" method="post" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize">
        @Html.AntiForgeryToken()
        <input type="hidden" id="resourceId" name="dto.Id" value="@Model?.Data?.Id" />
        <div class="card">
            @await Component.InvokeAsync("Header")
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="d-flex flex-wrap justify-content-between">
            <div class="form-group">
                <button type="submit" form="form" class="btn btn-outline-info">Save changes</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-dark" onclick="ShowConfirmBackModel();">Back to overview</button>
            </div>
        </div>
    </form>
</div>

<partial name="_Modal" />

@section Scripts{
    <partial name="_SharedScripts" />
    @RenderSection("Scripts", required: false)
}