@{
    Layout = "_Layout";
}
<div class="container">
    <form id="form" method="post" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize">
        <input type="hidden" id="resourceId" name="dto.Id" />
        @Html.AntiForgeryToken()
        <nav>
            <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="basesettingstab" data-toggle="tab" href="#basesettings" role="tab">Base Settings</a>
                @RenderSection("Navtabs", required: false)
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="basesettings" role="tabpanel">
                @RenderSection("Basesettings", required: true)
            </div>
            @RenderSection("ResourceProperties", required: false)
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        function AppendTableRow(input, element) {
            $.get('@_httpContextAccessor.HttpContext.Request.Path', input, function (data) {
                $(element).append(data);
            });
        }
    </script>
    @RenderSection("Scripts", required: false)
}

