@{
    Layout = "_Layout";
}
<partial name="_SharedStyling" />
<div class="container">
    <form id="form" method="post" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize">
        <input type="hidden" id="resourceId" name="dto.Id" value="@Model?.Data?.Id" />
        @Html.AntiForgeryToken()
        @if (IsSectionDefined("Navtabs"))
        {
            <nav>
                <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="basesettingstab" data-toggle="tab" href="#basesettings" role="tab">Base Settings</a>
                    @RenderSection("Navtabs", required: false)
                </div>
            </nav>
        }
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="basesettings" role="tabpanel">
                @RenderSection("Basesettings", required: true)
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control"></button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-warning form-control"></button>
                </div>
            </div>
            @RenderSection("ResourceProperties", required: false)
        </div>
    </form>
</div>

<div class="modal fade" id="removeRowModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeRowModalLabel">Remove</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Are you sure you want to Remove <span id="removeRowNameSpan"></span> ?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="SetRemoveModalEmpty();"></button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="acceptRemoveBtn"></button>
            </div>
        </div>
    </div>
</div>

<partial name="_SharedScripts" />
