@{
    Layout = "_Layout";
}
<div class="container">
    <form id="form" method="post" asp-route-pageNumber="@Model.PageNumber" asp-route-pageSize="@Model.PageSize">
        <input type="hidden" id="resourceId" name="dto.Id" value="@Model?.Data?.Id" />
        @Html.AntiForgeryToken()
        @if (IsSectionDefined("Navtabs"))
        {
            <nav>
                <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="basesettingstab" data-toggle="tab" href="#basesettings" role="tab">Base Settings</a>
                    @RenderSection("Navtabs", required: false)
                </div>
            </nav>
        }
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="basesettings" role="tabpanel">
                @RenderSection("Basesettings", required: true)
            </div>
            @RenderSection("ResourceProperties", required: false)
        </div>
        <button type="submit">submit</button>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        function AppendTableRow(partialName, tableBodyName) {
            console.log(partialName);
            console.log(tableBodyName);
            var input = {
                handler: 'Partial',
                partialName: partialName
            };
            var element = $('#' + tableBodyName);
            console.log(element);
            $.get('@(_httpContextAccessor.HttpContext.Request.Path)', input, function (data) {
                console.log(data);
                $(element).append(data);
            });
        }
    </script>
    @RenderSection("Scripts", required: false)
}

