@model SecretsContract

@{
    var idx = Guid.NewGuid().ToString().ToLowerInvariant();
    var collapse = "secret-" + idx;
    var delete = collapse + "-d";
}
<tr class="border-top border-bottom bg-light @delete">
    <td>
        <a role="button"
           class="btn btn-outline-primary btn-sm m-1 collapsed"
           data-toggle="collapse"
           href="#@collapse">
            Edit
        </a>
    </td>
    <td>
        @Model?.Type
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-info btn-sm"
                data-toggle="popover" data-content="@Model?.Value">
            View
        </button>
    </td>
    <td>
        @Model?.Description
    </td>
    <td>
        @Model?.Expiration.GetValueOrDefault(DateTime.Today).ToString("s")
    </td>
    <td>
        <button type="button"
                class="btn btn-outline-danger btn-sm m-1 float-right"
                onclick="SetRemoveModal(this, 'dto.Secrets[@idx].Type');"
                data-toggle="modal" data-target="#removeRowModal">
            Delete
        </button>
    </td>
</tr>
<tr class="@delete">
    <td colspan="6">
        <div class="row collapse" id="@collapse">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="hidden" name="dto.Secrets.index" value="@idx" />
                            <input type="hidden" name="dto.Secrets[@idx].Id" value="@Model?.Id" />
                            <input type="hidden" name="dto.Secrets[@idx].ClientId" value="@Model?.ClientId" />
                            <label class="col-form-label">Type</label>
                            <select name="dto.Secrets[@idx].Type" class="form-control">
                                @foreach (var secretName in SecretConstants.SecretTypeNames)
                                {
                                    if (secretName.Key == Model?.Type)
                                    {
                                        <option value="@secretName.Key" selected>@secretName.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@secretName.Key">@secretName.Value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label">Expiration</label>
                            <input type="date"
                                   name="dto.Secrets[@idx].Expiration"
                                   value="@Model?.Expiration.GetValueOrDefault(DateTime.Today).ToString("yyyy-MM-dd")"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="col-form-label">Value</label>
                            <input type="text"
                                   name="dto.Secrets[@idx].Value"
                                   value="@Model?.Value"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="row flex-grow-1 d-flex flex-column">
                    <div class="col flex-grow-1 d-flex flex-column">
                        <div class="form-group flex-grow-1 d-flex flex-column">
                            <label class="col-form-label">Description</label>
                            <textarea name="dto.Secrets[@idx].Description"
                                      class="form-control flex-grow-1">@Model?.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>