@model AddRoleClaimModel
<tr>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>
            <input type="hidden" name="dto.Claims['@Model.Claim']" value="@Model.ClaimType" />
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.Claim
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            @Model.ClaimType
        </div>
    </td>
    <td scope="col" class="border-top-0">
        <div class="centercontent">
            <a class="btn btn-success btn-sm" id="nav-claimsadddetail-tab" data-toggle="tab"
               href="#nav-claimsadddetail" role="tab"
               aria-controls="nav-claimsadddetail" aria-selected="false"
               data-claim="@Model.Claim" data-claimtype="@Model.ClaimType"
               onclick="@("PopulateClaimsDetail(this);")">
            </a>
        </div>
    </td>
</tr>