@page
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Clients.IndexModel
@{
    Layout = "_NestedIndexLayout";
}

@section TableHead {
    @*<tr>
            <th scope="col"></th>
            <th scope="col">Client Id</th>
            <th scope="col">Client Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>*@
    <h5 class="mb-1">User management</h5>
    @*<p class="card-text"><small class="text-muted">Select area to manage</small></p>*@
}
@section TableBody{

    @*<div class="row" style="margin-top:8px;">
        <div class="col">*@
    <div class="row text-left" style="padding: .375rem .75rem;">
        <div class="col">
            Client Id
        </div>
        <div class="col">
            Client Name
        </div>
        <div class="col">
            Description
        </div>
        <div class="col-2"></div>
    </div>
    @*</div>
            
        </div>*@

    @foreach (var item in Model.List.Items)
    {

        <div class="row" style="margin-bottom:8px;">
            <div class="col">
                <a asp-page="Info" asp-route-id="@item.Id" class="btn btn-outline-primary btn-block">
                    <div class="row text-left">
                        <div class="col">
                            @item.ClientId
                        </div>
                        <div class="col">
                            @item.ClientName
                        </div>
                        <div class="col">
                            @item.Description
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-outline-danger btn-block"
                        onclick="SetDeleteModal(@item.Id, '@item.ClientName')">
                    delete
                </button>
            </div>
        </div>
    }
}
@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}