@page "{id:int?}"
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Clients.InfoModel
@{
    Layout = "_SimpleAdminLayout";
    }

<Collapsable title="Base Settings">
    <partial name="_BaseSettings" model="@Model" />
</Collapsable>

<collapsable title="Scopes">
    <list-table body-id="scope-list">
        <tr>
            <td class="w-100 pl-2">Scope</td>
            <new partial-name="Partials/_Scope" append-element="scope-list"></new>
        </tr>

        @foreach (var item in Model?.Data?.Scopes)
        {
            <partial name="Partials/_Scope" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Secrets">
    <list-table body-id="secrets-list">
        <tr>
            <td>&nbsp;</td>
            <td>Type</td>
            <td>Value</td>
            <td>Description</td>
            <td>Expiration</td>
            <new partial-name="Partials/_Secret" append-element="secrets-list"></new>
        </tr>

        @foreach (var item in Model?.Data?.Secrets)
        {
            <partial name="Partials/_Secret" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Uris">
    <div class="form-group">
        <label class="col-form-label">Client uri</label>
        <input type="text" class="form-control" name="dto.ClientUri" value="@Model?.Data?.ClientUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Logo uri</label>
        <input type="text" class="form-control" name="dto.LogoUri" value="@Model?.Data?.LogoUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Front channel logout uri</label>
        <input type="text" class="form-control"  name="dto.FrontChannelLogoutUri" value="@Model?.Data?.FrontChannelLogoutUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Back channel logout uri</label>
        <input type="text" class="form-control" name="dto.BackChannelLogoutUri" value="@Model?.Data?.BackChannelLogoutUri">
    </div>
    <br />
    <list-table body-id="uri-list">
        <tr>
            <td class="w-100 pl-2">Redirect uris</td>
            <new partial-name="Partials/_RedirectUri" append-element="uri-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.RedirectUris)
        {
            <partial name="Partials/_RedirectUri" model="@item" />
        }
    </list-table>
    <br />
    <br />
    <list-table body-id="post-logout-uri-list">
        <tr>
            <td class="w-100 pl-2">Post logout redirect uri</td>
            <new partial-name="Partials/_PostLogoutRedirectUri" append-element="post-logout-uri-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.PostLogoutRedirectUris)
        {
            <partial name="Partials/_PostLogoutRedirectUri" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Properties">
    <list-table body-id="property-list">
        <tr>
            <td class="w-50 pl-2 ">Type</td>
            <td class="w-50 px-2 ">Key</td>
            <new partial-name="Partials/_Property" append-element="property-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.Properties)
        {
            <partial name="Partials/_Property" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Identity Provider Restrictions">
    <list-table body-id="idpr-list">
        <tr>
            <td class="w-100 pl-2">Provider</td>
            <new partial-name="Partials/_IdentityProviderRestriction" append-element="idpr-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.IdPRestrictions)
        {
            <partial name="Partials/_IdentityProviderRestriction" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Grant Types">
    <list-table body-id="grant-list">
        <tr>
            <td class="w-100 pl-2">Grant Type</td>
            <new partial-name="Partials/_GrantType" append-element="grant-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.GrantTypes)
        {
            <partial name="Partials/_GrantType" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="CORS Origins">
    <list-table body-id="cors-list">
        <tr>
            <td class="w-100 pl-2">Origin</td>
            <new partial-name="Partials/_CorsOrigin" append-element="cors-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.CorsOrigins)
        {
            <partial name="Partials/_CorsOrigin" model="@item" />
        }
    </list-table>
    <br />
</collapsable>


<collapsable title="Claims">
    <div class="form-group">
        <label class="col-form-label">Client claims prefix</label>
        <input type="text" class="form-control" id="name" name="dto.ClientClaimsPrefix" value="@Model?.Data?.ClientClaimsPrefix">
    </div>
    <br />
    <list-table body-id="claims-list">
        <tr>
            <td class="w-50 pl-2 ">Type</td>
            <td class="w-50 px-2 ">Value</td>
            <new partial-name="Partials/_ValueClaim" append-element="claims-list"></new>
        </tr>
        @foreach (var item in Model?.Data?.Claims)
        {
            <partial name="Partials/_ValueClaim" model="@item" />
        }
    </list-table>
    <br />
</collapsable>
<collapsable title="Life Times">
    <div class="form-group">
        <label class="col-form-label">User sso lifetime</label>
        <input type="number" class="form-control" name="dto.UserSsoLifetime" value="@Model?.Data?.UserSsoLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Device code lifetime</label>
        <input type="number" class="form-control" name="dto.DeviceCodeLifetime" value="@Model?.Data?.DeviceCodeLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Identity token lifetime</label>
        <input type="number" class="form-control" name="dto.IdentityTokenLifetime" value="@Model?.Data?.IdentityTokenLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Access token lifetime</label>
        <input type="number" class="form-control" name="dto.AccessTokenLifetime" value="@Model?.Data?.AccessTokenLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Authorization code lifetime</label>
        <input type="number" class="form-control" name="dto.AuthorizationCodeLifeTime" value="@Model?.Data?.AuthorizationCodeLifeTime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Consent lifetime</label>
        <input type="number" class="form-control" name="dto.ConsentLifetime" value="@Model?.Data?.ConsentLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Absolute refresh token lifetime</label>
        <input type="number" class="form-control" name="dto.AbsoluteRefreshTokenLifetime" value="@Model?.Data?.AbsoluteRefreshTokenLifetime">
    </div>
    <div class="form-group">
        <label class="col-form-label">Sliding refresh token lifetime</label>
        <input type="number" class="form-control" name="dto.SlidingRefreshTokenLifetime" value="@Model?.Data?.SlidingRefreshTokenLifetime">
    </div>

</collapsable>