@page "{id:int?}"
@model Ids.SimpleAdmin.Frontend.Areas.SimpleAdmin.Pages.Clients.InfoModel
@{
    Layout = "_SimpleAdminLayout";

    var scopesDisplay = "Scopes";
    var scopes = scopesDisplay.ToLowerNoSpaces();

    var secretsDisplay = "Secrets";
    var secrets = secretsDisplay.ToLowerNoSpaces();

    var urisDisplay = "Uris";

    var redirectUrisDisplay = "Redirect Uris";
    var redirectUris = redirectUrisDisplay.ToLowerNoSpaces();

    var propertiesDisplay = "Properties";
    var properties = propertiesDisplay.ToLowerNoSpaces();

    var postLogoutRedirectUrisDisplay = "Post Logout Redirect Uris";
    var postLogoutRedirectUris = postLogoutRedirectUrisDisplay.ToLowerNoSpaces();

    var idPRestrictionsDisplay = "Id PRestrictions";
    var idPRestrictions = idPRestrictionsDisplay.ToLowerNoSpaces();

    var grantTypesDisplay = "Grant Types";
    var grantTypes = grantTypesDisplay.ToLowerNoSpaces();

    var corsOriginsDisplay = "Cors Origins";
    var corsOrigins = corsOriginsDisplay.ToLowerNoSpaces();

    var claimsDisplay = "Claims";
    var claims = claimsDisplay.ToLowerNoSpaces();

    var lifetimesDisplay = "Lifetimes";
    var lifetimes = lifetimesDisplay.ToLowerNoSpaces();

}

@*@section NavTabs{
        <a class="nav-item nav-link" id="@(scopes)tab" data-toggle="tab" href="#@scopes" role="tab">@scopesDisplay</a>
        <a class="nav-item nav-link" id="@(secrets)tab" data-toggle="tab" href="#@secrets" role="tab">@secretsDisplay</a>
        <a class="nav-item nav-link" id="@(redirectUris)tab" data-toggle="tab" href="#@redirectUris" role="tab">@urisDisplay</a>
        <a class="nav-item nav-link" id="@(properties)tab" data-toggle="tab" href="#@properties" role="tab">@propertiesDisplay</a>
        <a class="nav-item nav-link" id="@(idPRestrictions)tab" data-toggle="tab" href="#@idPRestrictions" role="tab">@idPRestrictionsDisplay</a>
        <a class="nav-item nav-link" id="@(grantTypes)tab" data-toggle="tab" href="#@grantTypes" role="tab">@grantTypesDisplay</a>
        <a class="nav-item nav-link" id="@(corsOrigins)tab" data-toggle="tab" href="#@corsOrigins" role="tab">@corsOriginsDisplay</a>
        <a class="nav-item nav-link" id="@(claims)tab" data-toggle="tab" href="#@claims" role="tab">@claimsDisplay</a>
        <a class="nav-item nav-link" id="@(lifetimes)tab" data-toggle="tab" href="#@lifetimes" role="tab">@lifetimesDisplay</a>
    }

    @section Basesettings{*@

<Collapsable title="Base Settings">
    <partial name="_BaseSettings" model="@Model" />
</Collapsable>

<collapsable title="Scopes">
    <list-table>
        <tr>
            <td class="w-100 pl-2">Scope</td>
            <td class="w-auto">&nbsp;</td>
        </tr>

        @foreach (var item in Model?.Data?.Scopes)
        {
            <partial name="Partials/_Scope" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Secrets">
    <list-table>
        <tr>
            <td>&nbsp;</td>
            <td>Type</td>
            <td>Value</td>
            <td>Description</td>
            <td>Expiration</td>
            <td>&nbsp;</td>
        </tr>

        @foreach (var item in Model?.Data?.Secrets)
        {
            <partial name="Partials/_Secret" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Uris">
    <div class="form-group">
        <label class="col-form-label">Client uri</label>
        <input type="text" class="form-control" id="name" name="dto.ClientUri" value="@Model?.Data?.ClientUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Logo uri</label>
        <input type="text" class="form-control" id="name" name="dto.LogoUri" value="@Model?.Data?.LogoUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Front channel logout uri</label>
        <input type="text" class="form-control" id="name" name="dto.FrontChannelLogoutUri" value="@Model?.Data?.FrontChannelLogoutUri">
    </div>
    <div class="form-group">
        <label class="col-form-label">Back channel logout uri</label>
        <input type="text" class="form-control" id="name" name="dto.BackChannelLogoutUri" value="@Model?.Data?.BackChannelLogoutUri">
    </div>
    <br />
    <list-table>
        <tr>
            <td class="w-100 pl-2">Redirect uris</td>
            <td class="w-auto">&nbsp;</td>
        </tr>
        @foreach (var item in Model?.Data?.RedirectUris)
        {
            <partial name="Partials/_RedirectUri" model="@item" />
        }
    </list-table>
    <br />
    <br />
    <list-table>
        <tr>
            <td class="w-100 pl-2">Post logout redirect uri</td>
            <td class="w-auto">&nbsp;</td>
        </tr>
        @foreach (var item in Model?.Data?.PostLogoutRedirectUris)
        {
            <partial name="Partials/_PostLogoutRedirectUri" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

<collapsable title="Properties">
    <list-table>
        <tr>
            <td class="w-50 pl-2 ">Type</td>
            <td class="w-50 px-2 ">Key</td>
            <td class="w-auto">&nbsp;</td>
        </tr>
        @foreach (var item in Model?.Data?.Properties)
        {
            <partial name="Partials/_Property" model="@item" />
        }
    </list-table>
    <br />
</collapsable>

@*}

    @section ResourceProperties{
        @{


            RenderTabPanel(idPRestrictions,
                Model?.Data?.IdPRestrictions,
                new List<string> { "Provider" });

            RenderTabPanel(grantTypes,
                Model?.Data?.GrantTypes,
                new List<string> { "Grant type" });

            RenderTabPanel(corsOrigins,
                Model?.Data?.CorsOrigins,
                new List<string> { "Origin" });

            <div class="tab-pane fade" id="@lifetimes" role="tabpanel">
                <div class="form-group">
                    <label class="col-form-label">User sso lifetime</label>
                    <input type="number" class="form-control" name="dto.UserSsoLifetime" value="@Model?.Data?.UserSsoLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.UserSsoLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Device code lifetime</label>
                    <input type="number" class="form-control" name="dto.DeviceCodeLifetime" value="@Model?.Data?.DeviceCodeLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.DeviceCodeLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Identity token lifetime</label>
                    <input type="number" class="form-control" name="dto.IdentityTokenLifetime" value="@Model?.Data?.IdentityTokenLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.IdentityTokenLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Access token lifetime</label>
                    <input type="number" class="form-control" name="dto.AccessTokenLifetime" value="@Model?.Data?.AccessTokenLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.AccessTokenLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Authorization code lifetime</label>
                    <input type="number" class="form-control" name="dto.AuthorizationCodeLifeTime" value="@Model?.Data?.AuthorizationCodeLifeTime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.AuthorizationCodeLifeTime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Consent lifetime</label>
                    <input type="number" class="form-control" name="dto.ConsentLifetime" value="@Model?.Data?.ConsentLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.ConsentLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Absolute refresh token lifetime</label>
                    <input type="number" class="form-control" name="dto.AbsoluteRefreshTokenLifetime" value="@Model?.Data?.AbsoluteRefreshTokenLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.AbsoluteRefreshTokenLifetime"]" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Sliding refresh token lifetime</label>
                    <input type="number" class="form-control" name="dto.SlidingRefreshTokenLifetime" value="@Model?.Data?.SlidingRefreshTokenLifetime">
                    <partial name="_ValidationNotification" model="@ModelState["dto.SlidingRefreshTokenLifetime"]" />
                </div>
            </div>

           

            <div class="tab-pane fade" id="@claims" role="tabpanel">
                <div class="form-group">
                    <label class="col-form-label">Client claims prefix</label>
                    <input type="text" class="form-control" id="name" name="dto.ClientClaimsPrefix" value="@Model?.Data?.ClientClaimsPrefix" onkeyup="console.log('looool')">
                    <partial name="_ValidationNotification" model="@ModelState["dto.ClientClaimsPrefix"]" />
                </div>
                <br />
                <div>
                    <table class="table table-striped border border-dark">
                        @{
                            await Html.RenderPartialAsync("_Tableheader", new List<string> { "Type", "Value" });
                            RenderTableBody(claims, Model?.Data?.Claims);
                        }
                    </table>
                    <button type="button" class="btn btn-primary" onclick="AppendTableRow(this, '@claims', '@claims.AsTableBody()')"></button>
                </div>
                <br />
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="dto.AlwaysIncludeUserClaimsInToken" value="True" @Model?.Data?.AlwaysIncludeUserClaimsInToken.IsChecked() />
                        <label class="form-check-label">Always include user claims in token</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="dto.UpdateAccessTokenClaimsOnRefresh" value="True" @Model?.Data?.UpdateAccessTokenClaimsOnRefresh.IsChecked() />
                        <label class="form-check-label">Update access token claims on refresh</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="dto.AlwaysSendClientClaims" value="True" @Model?.Data?.AlwaysSendClientClaims.IsChecked() />
                        <label class="form-check-label">Always send client claims</label>
                    </div>
                </fieldset>
            </div>

         

        }
    }*@

@*TODO: replace these functions with components?*@
@functions {
    void RenderTableBody<T>(string name, List<T> list)
    {
        <tbody id="@name.AsTableBody()">
            @if (list != null)
            {
                foreach (var item in list)
                {
                    Html.RenderPartialAsync("TableRowPartials/_" + name.FirstLetterToUpper(), item);
                }
            }
        </tbody>
    }
    void RenderTabPanel<T>(string name, List<T> list, List<string> columns)
    {
        <div class="tab-pane fade" id="@name" role="tabpanel">
            <br />
            <table class="table table-striped border border-dark">
                @{
                    Html.RenderPartialAsync("_Tableheader", columns);
                    RenderTableBody(name, list);
                }
            </table>
            <button type="button" class="btn btn-primary" onclick="AppendTableRow(this, '@name', '@name.AsTableBody()')"></button>
        </div>
    }

    void TestFunction()
    {
        <div class="form-group">
            <label class="col-form-label">User sso lifetime</label>
            <input type="number" class="form-control" name="dto.UserSsoLifetime" value="@Model?.Data?.UserSsoLifetime">
        </div>
    }
}
