@{
    Layout = "_Layout";
}
@RenderBody()
<!-- #region addModal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("AddModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" form="AddForm">Send message</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region editModal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("EditModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" form="EditForm">Send message</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region updateModal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("UpdateModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" form="UpdateForm">Send message</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region deleteModal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @RenderSection("DeleteModalBody", required: true)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" form="DeleteForm">Send message</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
@section scripts {
    <script type="text/javascript">
            $('#editModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);

                if (button.data('form') == 'edit') {
                    modal.find('.modal-body #EditForm').show();
                    modal.find('.modal-body #AddForm').hide();
                    modal.find('.modal-body #roleName').val(button.data('rolename'));
                    modal.find('.modal-body #roleId').val(button.data('roleid'));
                } else if (button.data('form') == 'add') {
                    modal.find('.modal-body #EditForm').hide();
                    modal.find('.modal-body #AddForm').show();
                }
            });
        </script>

    @RenderSection("scripts", required: false)
}