@page "{handler?}"
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.ApiResourcesModel
@{
    Layout = "_NestedLayout";
}

@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Display name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
}
@section TableBody{
    @foreach (var item in Model?.List?.Items)
    {
        <tr>
            <td scope="row">
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#editModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name"
                        data-displayname="@item?.DisplayName"
                        data-description="@item?.Description"
                        data-enabled="@item?.Enabled"
                        data-allowedalgorithms="@item?.AllowedAccessTokenSigningAlgorithmes"
                        data-created="@item?.Created"
                        data-showindiscoverydocument="@item?.ShowInDiscoveryDocument"
                        data-claimlist="@(item.Claims.Any() ? "["+string.Join(", ", item.Claims.Select(x=> "{\"" + x.Key + "\": \"" + x.Value + "\"}").ToList()) + "]":"[]")"
                        data-propertylist="@(item.Properties.Any()?"["+string.Join(", ", item.Properties.Select(x=> "{\"propertyid\":\""+x.Key+"\", \"propertykey\":\""+x.Value.Key+"\", \"propertyvalue\":\""+x.Value.PropertyValue+"\"}").ToList())+"]":"[]")">
                </button>
            </td>
            <td>@item?.Name</td>
            <td>@item?.DisplayName</td>
            <td>@item?.Description</td>
            <td>
                <button type="button" class="btn btn-danger float-right"
                        data-toggle="modal" data-target="#deleteModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name">
                </button>
            </td>
        </tr>
    }
}
@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}

@section AddModalBody{
    <form id="AddForm" method="post" asp-page-handler="Add" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <nav>
            <div>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-basesettingsadd-tab" data-toggle="tab" href="#nav-basesettingsadd" role="tab" aria-controls="nav-basesettingsadd" aria-selected="true">Base Settings</a>
                    <a class="nav-item nav-link" id="nav-claimsadd-tab" data-toggle="tab" href="#nav-claimsadd" role="tab" aria-controls="nav-claimsadd" aria-selected="false">Claims</a>
                    <a class="nav-item nav-link" id="nav-propertyadd-tab" data-toggle="tab" href="#nav-propertyadd" role="tab" aria-controls="nav-propertyadd" aria-selected="false">Properties</a>
                </div>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-basesettingsadd" role="tabpanel" aria-labelledby="nav-basesettingsadd-tab">
                <input type="hidden" id="scopeid" name="dto.Id" />
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="addScopeName" name="dto.Name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Display name</label>
                    <input type="text" class="form-control" id="addScopeDisplayName" name="dto.DisplayName">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Description</label>
                    <textarea class="form-control" id="addScopeDescription" name="dto.Description"></textarea>
                </div>
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addEnabled" name="dto.Enabled" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is enabled</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addRequired" name="dto.Required" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is required</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addEmphasize" name="dto.Emphasize" value="True" />
                        <label for="reciepent-name" class="form-check-label">Emphasize</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addShowInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
                        <label for="reciepent-name" class="form-check-label">Show in discovery document</label>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="nav-claimsadd" role="tabpanel" aria-labelledby="nav-claimsadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addClaimTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Claim
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addClaimBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addClaim" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-propertyadd" role="tabpanel" aria-labelledby="nav-propertyadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addPropertyTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Property
                            </td>
                            <td scope="col">
                                Key
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addProperty" />
                            </td>
                            <td scope="col">
                                <input type="text" id="addPropertyKey" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
}

@section EditModalBody{
    <form id="EditForm" method="post" asp-page-handler="Edit" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <nav>
            <div>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-basesettingsedit-tab" data-toggle="tab" href="#nav-basesettingsedit" role="tab" aria-controls="nav-basesettingsedit" aria-selected="true">Base Settings</a>
                    <a class="nav-item nav-link" id="nav-claimsedit-tab" data-toggle="tab" href="#nav-claimsedit" role="tab" aria-controls="nav-claimsedit" aria-selected="false">Claims</a>
                    <a class="nav-item nav-link" id="nav-propertyedit-tab" data-toggle="tab" href="#nav-propertyedit" role="tab" aria-controls="nav-propertyedit" aria-selected="false">Properties</a>
                </div>
            </div>
        </nav>
        <input type="hidden" id="scopeid" name="dto.Id" />
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-basesettingsedit" role="tabpanel" aria-labelledby="nav-basesettingsedit-tab">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="editScopeName" name="dto.Name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Display name</label>
                    <input type="text" class="form-control" id="editScopeDisplayName" name="dto.DisplayName">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Description</label>
                    <textarea class="form-control" id="editScopeDescription" name="dto.Description"></textarea>
                </div>
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="editenabled" name="dto.Enabled" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is enabled</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="editRequired" name="dto.Required" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is required</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="editEmphasize" name="dto.Emphasize" value="True" />
                        <label for="reciepent-name" class="form-check-label">Emphasize</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="editShowInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
                        <label for="reciepent-name" class="form-check-label">Show in discovery document</label>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="nav-claimsedit" role="tabpanel" aria-labelledby="nav-claimsedit-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="editClaimTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Claim
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="editClaimBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="editClaim" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-propertyedit" role="tabpanel" aria-labelledby="nav-propertyedit-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="editPropertyTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Property
                            </td>
                            <td scope="col">
                                Key
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="editPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="editProperty" />
                            </td>
                            <td scope="col">
                                <input type="text" id="editPropertyKey" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
}

@section DeleteModalBody{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete  <span id="deleteApiScope"></span> ?
    </div>
    <form id="DeleteForm" method="post" asp-page-handler="Delete" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteId" name="Id" />
    </form>
}

@section Scripts{
    <script type="text/javascript">

        $('#addClaimBtn').on('click', function (e) {
            e.preventDefault();
            var claim = $('#addClaim').val();
            if (claim.length < 1) {
                alert('claim must have a value');
            }
            else {
                $('#addClaimTableBody').append('<tr><td><button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Claims[' + claim + ']" value="' + claim + '" /></td><td>' + claim + '</td></tr>');
                $('#addClaim').val('');
            }
        });

        $('#addPropertyBtn').on('click', function (e) {
            e.preventDefault();
            var property = $('#addProperty').val();
            var propertyKey = $('#addPropertyKey').val();
            if (property.length < 1 || propertyKey.length < 1) {
                alert('property and property key must have a value');
            }
            else {
                $('#addPropertyTableBody').append('<tr><td><button class="btn btn-danger btn-sm editClaimRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Properties[' + propertyKey + ']" value="' + property + '" /></td><td>' + property + '</td><td>' + propertyKey + '</td></tr>');
                $('#addProperty').val('');
                $('#addPropertyKey').val('');
            }
        });

        $('#editClaimBtn').on('click', function (e) {
            e.preventDefault();
            var claim = $('#editClaim').val();
            if (claim.length < 1) {
                alert('claim must have a value');
            }
            else {
                $('#editClaimTableBody').append('<tr><td><button class="btn btn-danger btn-sm editClaimRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Claims[' + claim + ']" value="' + claim + '" /></td><td>' + claim + '</td></tr>');
                $('#editClaim').val('');
            }
        });

        $('#editPropertyBtn').on('click', function (e) {
            e.preventDefault();
            var property = $('#editProperty').val();
            var propertyKey = $('#editPropertyKey').val();
            if (property.length < 1 || propertyKey.length < 1) {
                alert('property and property key must have a value');
            }
            else {
                $('#editPropertyTableBody').append('<tr><td><button class="btn btn-danger btn-sm editPropertyRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Properties[' + propertyKey + '].PropertyValue" value="' + property + '" /><input type="hidden" name="dto.Properties[' + propertyKey + '].Key" value="' + propertyKey + '" /></td><td>' + property + '</td><td>' + propertyKey + '</td></tr>');
                $('#editProperty').val('');
                $('#editPropertyKey').val('');
            }
        });

        $('#editModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-body #scopeid').val(button.data('scopeid'));
            modal.find('.modal-body #editScopeName').val(button.data('scopename'));
            modal.find('.modal-body #editScopeDisplayName').val(button.data('displayname'));
            modal.find('.modal-body #editScopeDescription').val(button.data('description'));
            modal.find('.modal-body #editenabled').prop('checked', button.data('enabled') === 'True');
            modal.find('.modal-body #editRequired').prop('checked', button.data('required') === 'True');
            modal.find('.modal-body #editEmphasize').prop('checked', button.data('emphasize') === 'True');
            modal.find('.modal-body #editShowInDiscovery').prop('checked', button.data('showindiscoverydocument') === 'True');

            var claimRows = $('#editClaimTableBody .editClaimRemove');
            for (var key in claimRows) {
                $('#editClaimTableBody .editClaimRemove').parents().eq(1).remove();
            }

            var claimlist = button.data('claimlist');
            for (var key in claimlist) {
                for (var kkey in claimlist[key]) {
                    $('#editClaimTableBody').append('<tr><td><button class="btn btn-danger btn-sm editClaimRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Claims[' + kkey + ']" value="' + claimlist[key][kkey] + '" /></td><td>' + claimlist[key][kkey] + '</td></tr>');
                }
            }

            var claimRows = $('#editClaimTableBody .editPropertyRemove');
            for (var key in claimRows) {
                $('#editPropertyTableBody .editPropertyRemove').parents().eq(1).remove();
            }

            var propertylist = button.data('propertylist');
            for (var key in propertylist) {
                $('#editPropertyTableBody').append('<tr><td><button class="btn btn-danger btn-sm editPropertyRemove" onclick="RemoveClaim(this, event);"></button><input type="hidden" name="dto.Properties[' + propertylist[key].propertyid + '].PropertyValue" value="' + propertylist[key].propertyvalue + '" /><input type="hidden" name="dto.Properties[' + propertylist[key].propertyid + '].Key" value="' + propertylist[key].propertykey + '" /></td><td>' + propertylist[key].propertyvalue + '</td><td>' + propertylist[key].propertykey + '</td></tr>');

            }
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            console.log(button.data('scopename'));
            console.log(button.data('scopeid'));
            modal.find('.modal-body #deleteApiScope').text(button.data('scopename'));
            modal.find('.modal-body #deleteId').val(button.data('scopeid'));
        });
    </script>
}
