@page "{handler?}"
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.ApiResourcesModel
@{
    Layout = "_NestedLayout";
}

<style>
    .centercontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Display name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
}
@section TableBody{
    @foreach (var item in Model?.List?.Items)
    {
        <tr>
            <td scope="row">
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#editModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name"
                        data-displayname="@item?.DisplayName"
                        data-description="@item?.Description"
                        data-enabled="@item?.Enabled"
                        data-allowedalgorithms="@item?.AllowedAccessTokenSigningAlgorithmes"
                        data-created="@item?.Created"
                        data-showindiscoverydocument="@item?.ShowInDiscoveryDocument"
                        data-noneditable="@item?.NonEditable"
                        data-claimlist="@(item.Claims.Any() ? "["+string.Join(", ", item.Claims.Select(x=> "{\"" + x.Key + "\": \"" + x.Value + "\"}").ToList()) + "]":"[]")"
                        data-propertylist="@(item.Properties.Any()?"["+string.Join(", ", item.Properties.Select(x=> "{\"propertyid\":\""+x.Key+"\", \"propertykey\":\""+x.Value.Key+"\", \"propertyvalue\":\""+x.Value.PropertyValue+"\"}").ToList())+"]":"[]")"
                        data-scopelist="@(item.Scopes.Any() ? "["+string.Join(", ", item.Scopes.Select(x=> x.AsJsonObject()).ToList())+"]":"[]")"
                        data-Secretlist="@(item.Secrets.Any()?  "["+string.Join(", ", item.Secrets.Select(x=> x.AsJsonObject()).ToList())+"]":"[]")">
                </button>
            </td>
            <td>@item?.Name</td>
            <td>@item?.DisplayName</td>
            <td>@item?.Description</td>
            <td>
                <button type="button" class="btn btn-danger float-right"
                        data-toggle="modal" data-target="#deleteModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name">
                </button>
            </td>
        </tr>
    }
}
@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}

@section AddModalBody{
    <form id="AddForm" method="post" asp-page-handler="Add" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-basesettingsadd-tab" data-toggle="tab" href="#nav-basesettingsadd" role="tab" aria-controls="nav-basesettingsadd" aria-selected="true">Base Settings</a>
                <a class="nav-item nav-link" id="nav-claimsoverviewadd-tab" data-toggle="tab" href="#nav-claimsoverviewadd" role="tab" aria-controls="nav-claimsoverviewadd" aria-selected="false">Claims</a>
                <a class="nav-item nav-link" id="nav-propertyoverviewadd-tab" data-toggle="tab" href="#nav-propertyoverviewadd" role="tab" aria-controls="nav-propertyoverviewadd" aria-selected="false">Properties</a>
                <a class="nav-item nav-link" id="nav-scopesadd-tab" data-toggle="tab" href="#nav-scopesadd" role="tab" aria-controls="nav-scopesadd" aria-selected="false">Scopes</a>
                <a class="nav-item nav-link" id="nav-secretsoverviewadd-tab" data-toggle="tab" href="#nav-secretsoverviewadd" role="tab" aria-controls="nav-secretsoverviewadd" aria-selected="false">Secrets</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-basesettingsadd" role="tabpanel" aria-labelledby="nav-basesettingsadd-tab">
                <input type="hidden" id="scopeid" name="dto.Id" />
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="adeName" name="dto.Name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Display name</label>
                    <input type="text" class="form-control" id="addDisplayName" name="dto.DisplayName">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Description</label>
                    <textarea class="form-control" id="addDescription" name="dto.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Allowed access token signing algorithmes</label>
                    <textarea class="form-control" id="addAllowedAlgorithmes" name="dto.AllowedAccessTokenSigningAlgorithmes"></textarea>
                </div>
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addEnabled" name="dto.Enabled" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is enabled</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addNonEditable" name="dto.NonEditable" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is non-editable</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addShowInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
                        <label for="reciepent-name" class="form-check-label">Show in discovery document</label>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="nav-claimsoverviewadd" role="tabpanel" aria-labelledby="nav-claimsoverviewadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addClaimTableBody">
                        <tr>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <button id="addClaimBtnOverview" class="btn btn-primary btn-sm addsign" data-toggle="tab" href="#nav-claimsadd" role="tab" aria-controls="nav-claimsadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <span class="text-dark font-italic">Claim</span>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    &ensp;
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-claimsadd" role="tabpanel" aria-labelledby="nav-claimsadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Claim</label>
                    <input type="text" id="addClaim" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button id="addClaimBtnCancel" class="btn btn-secondary" data-toggle="tab" href="#nav-claimsoverviewadd" role="tab" aria-controls="nav-claimsoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                        <button id="addClaimBtn" class="btn btn-primary addsign" data-toggle="tab" href="#nav-claimsoverviewadd" role="tab" aria-controls="nav-claimsoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-claimsdetailadd" role="tabpanel" aria-labelledby="nav-claimsdetailadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Claim</label>
                    <input type="text" id="addClaimDetail" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button id="addClaimBtnCancelDetail" class="btn btn-secondary" data-toggle="tab" href="#nav-claimsoverviewadd" role="tab" aria-controls="nav-claimsoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-propertyoverviewadd" role="tabpanel" aria-labelledby="nav-propertyoverviewadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addPropertyTableBody">
                        <tr>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <button id="addPropertyBtnOverview" class="btn btn-primary btn-sm addsign" data-toggle="tab" href="#nav-propertyadd" role="tab" aria-controls="nav-propertyadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    Property
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    Key
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    &ensp;
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-propertyadd" role="tabpanel" aria-labelledby="nav-propertyadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Property</label>
                    <input type="text" id="addProperty"  class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Key</label>
                    <input type="text" id="addPropertyKey"  class="form-control" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button id="addPropertyBtnCancel" class="btn btn-secondary" data-toggle="tab" href="#nav-propertyoverviewadd" role="tab" aria-controls="nav-propertyoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                        <button id="addPropertyBtn" class="btn btn-primary addsign" data-toggle="tab" href="#nav-propertyoverviewadd" role="tab" aria-controls="nav-propertyoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-propertydetailadd" role="tabpanel" aria-labelledby="nav-propertydetailadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Property</label>
                    <input type="text" id="addProperty" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Key</label>
                    <input type="text" id="addPropertyKey" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button id="addPropertyBtnCancel" class="btn btn-secondary" data-toggle="tab" href="#nav-propertyoverviewadd" role="tab" aria-controls="nav-propertyoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-scopesadd" role="tabpanel" aria-labelledby="nav-scopesadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addScopeTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Scope
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addScopeBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addScope" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-secretsoverviewadd" role="tabpanel" aria-labelledby="nav-secretsoverviewadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addSecretOverviewTableBody">
                        <tr>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <button id="addSecretBtnOverview" class="btn btn-primary btn-sm addsign" data-toggle="tab" href="#nav-secretadd" role="tab" aria-controls="nav-secretadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <span class="text-dark font-italic">Type</span>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    <span class="text-dark font-italic">Value</span>
                                </div>
                            </td>
                            <td scope="col" class="border-top-0">
                                <div class="centercontent">
                                    &ensp;
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-secretdetailsadd" role="tabpanel" aria-labelledby="nav-secretdetailsadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Type</label>
                    <input type="text" id="addSecretTypeDetail" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Value</label><br />
                    <input type="text" id="addSecretValueDetail" disabled class="form-control" />
                </div>
                <fieldset class="form-group">
                    <label class="col-form-label">Expiration</label>
                    <div class="row">
                        <div class="col">
                            <input type="date" id="addSecretExpirationDateDetail" class="form-control" disabled />
                        </div>
                        <div class="col">
                            <input type="time" id="addSecretExpirationTimeDetail" class="form-control" disabled />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-form-label">Created</label>
                    <div class="row">
                        <div class="col">
                            <input type="date" id="addSecretCreatedDateDetail" class="form-control" disabled />
                        </div>
                        <div class="col">
                            <input type="time" id="addSecretCreatedTimeDetail" class="form-control" disabled />
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <textarea id="addSecretDescriptionDetail" class="form-control" disabled> </textarea>
                </div>
                <div class="form-group">
                    <button id="addSecretBtnCancelDetail" class="btn btn-secondary" data-toggle="tab" href="#nav-secretsoverviewadd" role="tab" aria-controls="nav-secretsoverviewadd" aria-selected="false" onclick="UnpopulateSecretDetail(this);"></button>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-secretadd" role="tabpanel" aria-labelledby="nav-secretadd-tab">
                <div class="form-group">
                    <label class="col-form-label">Type</label>
                    <input type="text" id="addSecretType" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Value</label><br />
                    <input type="text" id="addSecretValue" class="form-control" />
                </div>
                <fieldset class="form-group">
                    <label class="col-form-label">Expiration</label>
                    <div class="row">
                        <div class="col">
                            <input type="date" id="addSecretExpirationDate" class="form-control" />
                        </div>
                        <div class="col">
                            <input type="time" id="addSecretExpirationTime" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label class="col-form-label">Created</label>
                    <div class="row">
                        <div class="col">
                            <input type="date" id="addSecretCreatedDate" class="form-control" />
                        </div>
                        <div class="col">
                            <input type="time" id="addSecretCreatedTime" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <textarea id="addSecretDescription" class="form-control"> </textarea>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button id="addSecretBtnCancel" class="btn btn-secondary" data-toggle="tab" href="#nav-secretsoverviewadd" role="tab" aria-controls="nav-secretsoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                        <button id="addSecretBtn" class="btn btn-primary addsign" data-toggle="tab" href="#nav-secretsoverviewadd" role="tab" aria-controls="nav-secretsoverviewadd" aria-selected="false" onclick="RemoveActive(this);"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@section EditModalBody{
    <form id="EditForm" method="post" asp-page-handler="Edit" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()

    </form>
}

@section DeleteModalBody{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete  <span id="deleteApiScope"></span> ?
    </div>
    <form id="DeleteForm" method="post" asp-page-handler="Delete" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteId" name="Id" />
    </form>
}

@section Scripts{
    <script type="text/javascript">
        $('#addPropertyBtn').on('click', function (e) {
            var property = $('#addProperty').val();
            var propertyKey = $('#addPropertyKey').val();
            if (property.length < 1 && propertyKey.length < 1) {
                alert('property and key must have a value');
            } else {
                var append = '<tr>\
                                                    <td scope="col">\
                                                        <div class="centercontent">\
                                                            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>\
                                                            <input type="hidden" name="dto.Property[' + property + '].PropertyValue" value="' + property + '" />\
                                                            <input type="hidden" name="dto.Property[' + propertyKey + '].Key" value="' + propertyKey + '" />\
                                                        </div>\
                                                    </td>\
                                                    <td scope="col"><div class="centercontent"> ' + property + '</div></td>\
                                                    <td scope="col"><div class="centercontent"> ' + addPropertyKey + '</div></td>\
                                                    <td scope="col">\
                                                        <div class="centercontent"> \
                                                            <a class="btn btn-success btn-sm" id="nav-propertydetailadd-tab" data-toggle="tab"\
                                                                href="#nav-propertydetailadd" role="tab" aria-controls="nav-propertydetailadd" aria-selected="false"\
                                                                onclick="PopulatePropertyDetail(\''+ property + '\',\'' + addPropertyKey + '\',this);">\
                                                                &#128270;</a>\
                                                        </div>\
                                                    </td>\
                                                </tr>'
            }
            $('#addPropertyTableBody').append(append);
            $('#addProperty').val('');
            $('#addPropertyKey').val('');
        });

        $('#addClaimBtn').on('click', function (e) {
            e.preventDefault();
            var claim = $('#addClaim').val();
            if (claim.length < 1) {
                alert('claim must have a value');
            } else {
                var append = '<tr>\
                                                    <td scope="col">\
                                                        <div class="centercontent">\
                                                            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>\
                                                            <input type="hidden" name="dto.Claims[' + claim + '].Value" value="' + claim + '" />\
                                                        </div>\
                                                    </td>\
                                                    <td scope="col"><div class="centercontent"> ' + claim + '</div></td>\
                                                    <td scope="col">\
                                                        <div class="centercontent"> \
                                                            <a class="btn btn-success btn-sm" id="nav-claimsdetailadd-tab" data-toggle="tab"\
                                                                href="#nav-claimsdetailadd" role="tab" aria-controls="nav-claimsdetailadd" aria-selected="false"\
                                                                onclick="PopulateClaimDetail(\''+ claim + '\',this);">\
                                                                &#128270;</a>\
                                                        </div>\
                                                    </td>\
                                                </tr>'
                $('#addClaimTableBody').append(append);
                $('#addClaim').val('');
            }
        });
        $('#addSecretBtn').on('click', function (e) {
            e.preventDefault();
            var secretType = $('#addSecretType').val();
            var secretValue = $('#addSecretValue').val();
            var secretExpirationDate = $('#addSecretExpirationDate').val();
            var secretExpirationTime = $('#addSecretExpirationTime').val();
            var secretCreatedDate = $('#addSecretCreatedDate').val();
            var secretCreatedTime = $('#addSecretCreatedTime').val();
            var secretDescription = $('#addSecretDescription').val();

            if (secretType.length < 1 || secretValue.length < 1) {
                alert('type and value must have a value');
            }
            else {
                var append = '<tr>\
                                                    <td scope="col">\
                                                        <div class="centercontent">\
                                                            <button class="btn btn-danger btn-sm addClaimRemove" onclick="RemoveClaim(this, event);"></button>\
                                                            <input type="hidden" name="dto.Secrets[' + secretType + '].Value" value="' + secretValue + '" />\
                                                            <input type="hidden" name="dto.Secrets[' + secretType + '].Type" value="' + secretType + '" />\
                                                            <input type="hidden" name="dto.Secrets[' + secretType + '].Description" value="' + secretDescription + '" />\
                                                            <input type="hidden" name="dto.Secrets[' + secretType + '].Expiration" value="' + secretExpirationDate + ' ' + secretExpirationTime + '" />\
                                                            <input type="hidden" name="dto.Secrets[' + secretType + '].Created" value="' + secretCreatedDate + ' ' + secretCreatedTime + '" />\
                                                        </div>\
                                                    </td>\
                                                    <td scope="col"><div class="centercontent"> ' + secretType + '</div></td>\
                                                    <td scope="col"><div class="centercontent"> ' + secretValue + '</div></td>\
                                                    <td scope="col">\
                                                        <div class="centercontent"> \
                                                            <a class="btn btn-success btn-sm" id="nav-secretdetailsadd-tab" data-toggle="tab"\
                                                                href="#nav-secretdetailsadd" role="tab" aria-controls="nav-secretdetailsadd" aria-selected="false"\
                                                                onclick="PopulateSecretDetail(\''+ claim + '\',\'' + secretValue + '\',\'' + secretExpirationDate + '\',\'' + secretExpirationTime + '\',\'' + secretCreatedDate + '\',\'' + secretCreatedTime + '\',\'' + secretDescription + '\',this);">\
                                                                &#128270;</a>\
                                                        </div>\
                                                    </td>\
                                                </tr>'
                $('#addSecretOverviewTableBody').append(append);
                $('#addSecretType').val('');
                $('#addSecretValue').val('');
                $('#addSecretExpirationDate').val('');
                $('#addSecretExpirationTime').val('');
                $('#addSecretCreatedDate').val('');
                $('#addSecretCreatedTime').val('');
                $('#addSecretDescription').val('');
                $('#nav-secretsoverviewadd-tab').trigger("click");
            }
        });


        function PopulateSecretDetail(secretType, secretValue, secretExpirationDate, secretExpirationTime, secretCreatedDate, secretCreatedTime, secretDescriptio, element) {
            $(element).removeClass("active");
            $('#addSecretTypeDetail').val(secretType);
            $('#addSecretValueDetail').val(secretValue);
            $('#addSecretExpirationDateDetail').val(secretExpirationDate);
            $('#addSecretExpirationTimeDetail').val(secretExpirationTime);
            $('#addSecretCreatedDateDetail').val(secretCreatedDate);
            $('#addSecretCreatedTimeDetail').val(secretCreatedTime);
            $('#addSecretDescriptionDetail').val(secretDescriptio);

        }
        function PopulateClaimDetail(claim, element) {
            $(element).removeClass("active");
            $('#addClaimDetail').val(claim);
        }

        function PopulatePropertyDetail(property, propertykey, element) {
            $(element).removeClass("active");
            $('#addClaimDetail').val(claim);
        }


        function UnpopulateSecretDetail(element) {
            $(element).removeClass("active");
            $('#addSecretTypeDetail').val('');
            $('#addSecretValueDetail').val('');
            $('#addSecretExpirationDateDetail').val('');
            $('#addSecretExpirationTimeDetail').val('');
            $('#addSecretCreatedDateDetail').val('');
            $('#addSecretCreatedTimeDetail').val('');
            $('#addSecretDescriptionDetail').val('');
        }

        function RemoveActive(element) {
            $(element).removeClass("active");
        }
    </script>
}
