@page "{handler?}"
@model RazorTestLibrary.Areas.SimpleAdmin.Pages.ApiResourcesModel
@{
    Layout = "_NestedLayout";
}

<div style="display:none">
    <div id="selector">
        <div class="row">
            <div class="col">
                asdasd
            </div>
            <div class="col">
                asdasd
            </div>
        </div>
        <div class="row">
            <div class="col">
                asdasd
            </div>
            <div class="col">
                asdasd
            </div>
        </div>
        <div class="row">
            <div class="col">
                asdasd
            </div>
            <div class="col">
                asdasd
            </div>
        </div>
        <div class="row">
            <div class="col">
                asdasd
            </div>
            <div class="col">
                asdasd
            </div>
        </div>
    </div>
</div>

@section TableHead {
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Display name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
}
@section TableBody{
    @foreach (var item in Model?.List?.Items)
    {
        <tr>
            <td scope="row">
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#editModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name"
                        data-displayname="@item?.DisplayName"
                        data-description="@item?.Description"
                        data-enabled="@item?.Enabled"
                        data-allowedalgorithms="@item?.AllowedAccessTokenSigningAlgorithmes"
                        data-created="@item?.Created"
                        data-showindiscoverydocument="@item?.ShowInDiscoveryDocument"
                        data-noneditable="@item?.NonEditable"
                        data-claimlist="@(item.Claims.Any() ? "["+string.Join(", ", item.Claims.Select(x=> "{\"" + x.Key + "\": \"" + x.Value + "\"}").ToList()) + "]":"[]")"
                        data-propertylist="@(item.Properties.Any()?"["+string.Join(", ", item.Properties.Select(x=> "{\"propertyid\":\""+x.Key+"\", \"propertykey\":\""+x.Value.Key+"\", \"propertyvalue\":\""+x.Value.PropertyValue+"\"}").ToList())+"]":"[]")"
                        data-scopelist="@(item.Scopes.Any() ? "["+string.Join(", ", item.Scopes.Select(x=> x.AsJsonObject()).ToList())+"]":"[]")"
                        data-Secretlist="@(item.Secrets.Any()?  "["+string.Join(", ", item.Secrets.Select(x=> x.AsJsonObject()).ToList())+"]":"[]")">
                </button>
            </td>
            <td>@item?.Name</td>
            <td>@item?.DisplayName</td>
            <td>@item?.Description</td>
            <td>
                <button type="button" class="btn btn-danger float-right"
                        data-toggle="modal" data-target="#deleteModal"
                        data-scopeid="@item?.Id"
                        data-scopename="@item?.Name">
                </button>
            </td>
        </tr>
    }
}
@section Pagenation{
    <partial name="_Pagenation" model="Model.List.ToPagenationInfo()" />
}

@section AddModalBody{
    <form id="AddForm" method="post" asp-page-handler="Add" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-basesettingsadd-tab" data-toggle="tab" href="#nav-basesettingsadd" role="tab" aria-controls="nav-basesettingsadd" aria-selected="true">Base Settings</a>
                <a class="nav-item nav-link" id="nav-claimsadd-tab" data-toggle="tab" href="#nav-claimsadd" role="tab" aria-controls="nav-claimsadd" aria-selected="false">Claims</a>
                <a class="nav-item nav-link" id="nav-propertyadd-tab" data-toggle="tab" href="#nav-propertyadd" role="tab" aria-controls="nav-propertyadd" aria-selected="false">Properties</a>
                <a class="nav-item nav-link" id="nav-scopesadd-tab" data-toggle="tab" href="#nav-scopesadd" role="tab" aria-controls="nav-scopesadd" aria-selected="false">Scopes</a>
                <a class="nav-item nav-link" id="nav-secretsadd-tab" data-toggle="tab" href="#nav-secretsadd" role="tab" aria-controls="nav-secretsadd" aria-selected="false">Secrets</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-basesettingsadd" role="tabpanel" aria-labelledby="nav-basesettingsadd-tab">
                <input type="hidden" id="scopeid" name="dto.Id" />
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="adeName" name="dto.Name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Display name</label>
                    <input type="text" class="form-control" id="addDisplayName" name="dto.DisplayName">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Description</label>
                    <textarea class="form-control" id="addDescription" name="dto.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Allowed access token signing algorithmes</label>
                    <textarea class="form-control" id="addAllowedAlgorithmes" name="dto.AllowedAccessTokenSigningAlgorithmes"></textarea>
                </div>
                <fieldset class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addEnabled" name="dto.Enabled" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is enabled</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addNonEditable" name="dto.NonEditable" value="True" />
                        <label for="reciepent-name" class="form-check-label">Is non-editable</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="addShowInDiscovery" name="dto.ShowInDiscoveryDocument" value="True" />
                        <label for="reciepent-name" class="form-check-label">Show in discovery document</label>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="nav-claimsadd" role="tabpanel" aria-labelledby="nav-claimsadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addClaimTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Claim
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addClaimBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addClaim" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-propertyadd" role="tabpanel" aria-labelledby="nav-propertyadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addPropertyTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Property
                            </td>
                            <td scope="col">
                                Key
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addProperty" />
                            </td>
                            <td scope="col">
                                <input type="text" id="addPropertyKey" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-scopesadd" role="tabpanel" aria-labelledby="nav-scopesadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addScopeTableBody">
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                Scope
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <button id="addScopeBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col">
                                <input type="text" id="addScope" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-secretsadd" role="tabpanel" aria-labelledby="nav-secretsadd-tab">
                <br />
                <table class="table table-sm">
                    <tbody id="addPropertyTableBody">
                        <tr>
                            <td scope="col">
                                <span class="text-muted font-weight-light">&ensp;</span>
                                <button id="addPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                            </td>
                            <td scope="col" colspan="2">
                                <div class="row">
                                    <div class="col-6 m-0">
                                        <span class="text-muted font-weight-light">adasdasdas</span><br />
                                        <input type="text" id="addProperty" /><br />
                                    </div>
                                    <div class="col-6  p-0">
                                        <span class="text-muted font-weight-light">asdasdas</span><br />
                                        <input type="text" id="addPropertyKey" /><br />
                                    </div>
                                    <div class="col-6 m-0">
                                        <span class="text-muted font-weight-light">adasdasdas</span><br />
                                        <input type="text" id="addProperty" /><br />

                                        <span class="text-muted font-weight-light">adasdasdas</span><br />
                                        <input type="text" id="addProperty" /><br />

                                        <span class="text-muted font-weight-light">adasdasdas</span><br />
                                        <input type="text" id="addProperty" />
                                    </div>
                                    <div class="col-6  p-0">
                                        <span class="text-muted font-weight-light">asdasdas</span><br />
                                        <input type="text" id="addPropertyKey" /><br />

                                        <span class="text-muted font-weight-light">asdasdas</span><br />
                                        <input type="text" id="addPropertyKey" /><br />

                                        <span class="text-muted font-weight-light">asdasdas</span><br />
                                        <input type="text" id="addPropertyKey" />

                                    </div>
                                </div>
                            </td>
                            <td scope="col">
                                <span class="text-muted font-weight-light">&ensp;</span>
                                <button id="addPropertyBtn" class="btn btn-secondary btn-sm"></button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col" class="border-top-0">
                                <span class="text-dark font-italic">Property</span>
                            </td>
                            <td scope="col" class="border-bottom-0">
                                <span class="text-dark font-italic">Key</span>
                            </td>
                            <td scope="col">
                                &ensp;
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                            </td>
                            <td scope="col">
                                <span class="text-muted font-weight-light">adasdasdas</span>
                                <input type="text" id="addProperty" /><br />

                                <span class="text-muted font-weight-light">adasdasdas</span>
                                <input type="text" id="addProperty" /><br />

                                <span class="text-muted font-weight-light">adasdasdas</span>
                                <input type="text" id="addProperty" /><br />

                            </td>

                            <td scope="col">
                                <span class="text-muted font-weight-light">asdasdas</span>
                                <input type="text" id="addPropertyKey" /><br />

                                <span class="text-muted font-weight-light">asdasdas</span>
                                <input type="text" id="addPropertyKey" /><br />

                                <span class="text-muted font-weight-light">asdasdas</span>
                                <input type="text" id="addPropertyKey" /><br />

                            </td>
                            <td scope="col">
                            </td>
                        </tr>
                    <tr>
                        <td scope="col">
                            <button id="addPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                        </td>

                        <td scope="col">
                            sfsdfsdfsdfsd
                        </td>
                        <td scope="col">
                            sfsdfsdfsdfsd
                        </td>
                        <td scope="col">
                            <a tabindex="0" id="addPropertyBtn" class="btn btn-success btn-sm" role="button"
                               data-toggle="popover" data-trigger="focus">&#128269;</a>
                        </td>

                    </tr>
                    <tr>
                        <td scope="col">
                            <button id="addPropertyBtn" class="btn btn-primary btn-sm addsign"></button>
                        </td>

                        <td scope="col">
                            sfsdfsdfsdfsd
                        </td>
                        <td scope="col">
                            sfsdfsdfsdfsd
                        </td>
                        <td scope="col">
                            <a tabindex="0" id="addPropertyBtn" class="btn btn-success btn-sm" role="button"
                               data-toggle="popover" data-trigger="focus">&#128270;</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
}

@section EditModalBody{
    <form id="EditForm" method="post" asp-page-handler="Edit" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()

    </form>
}

@section DeleteModalBody{
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete  <span id="deleteApiScope"></span> ?
    </div>
    <form id="DeleteForm" method="post" asp-page-handler="Delete" asp-route-pageNumber="@Model.List.Page" asp-route-pageSize="@Model.List.PageSize">
        @Html.AntiForgeryToken()
        <input type="hidden" id="deleteId" name="Id" />
    </form>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                delay: { show: 0, hide: 0 },
                html: true,
                content: function() {
                    return $('#selector').html();
                }
            });
        });
    </script>
}
